.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-tango;

  background-color: $color-myrtle;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-fern;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
