mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Сделанные сайты"
      },
      {
        href: "#",
        text: "Интересные блоки"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        .header__logo
          +icon("logo", 30, 30)
          span  Игорь Щербаков


      else
        a.header__logo(href="#")
          +icon("logo", 30, 30)
          span  Игорь Щербаков

      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
